@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Open+Sans&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Open Sans;
    font-weight: 300;
    color: #333333;
}

/* headings and logo*/

h1,
h2,
h3 {
    font-family: Merriweather, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #383838;
}

#logo {
    float: left;
    font-size: 270%;
}

/*navigation links*/

#menu {
    font-size: 110%;
    letter-spacing: 5px;
    display: flex;
    justify-content: flex-end;  
}

#menu, 
#logo {
    line-height: 85px; 
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    font-weight: 800;
}

.active{
    border-bottom: 2px solid #383838;
}