@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Open+Sans&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Open Sans;
    font-weight: 300;
    color: #333333;
}

/* headings*/

h1,
h2,
h3 {
    font-family: Merriweather, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #383838;
}

/*navigation links*/

#menu {
    font-size: 110%;
    letter-spacing: 5px;            /*menu text styling*/
    display: flex;
    justify-content: flex-end; 
    height: 110px;
    line-height: 85px;              /*menu text alignment*/
}

#menu li {
    margin-right: 30px;
    display: inline;

}

#menu li:first-child {
    margin-right: auto;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    font-weight: 800;
}

.active{
    border-bottom: 2px solid #383838;
}

#logo {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 2px solid #383838;
    margin: 5px 0 2px 30px;
    padding: 2px;
}

/* hero image*/

.hero-image {
    height: 1090px;
    width: 100%;
    background-image: url(../images/hero-image.jpg);
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}