/*General set-up*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');               /*font link import*/

*,
*::before,
*::after {
    box-sizing: border-box;                
    margin: 0;
    padding: 0;
    border: none;                           /*box model setting*/
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;                 /*flexbox items positioning*/
    font-family: Lora, sans-serif;
    color: whitesmoke;
    font-weight: 300;  
    margin: 0;   
    padding: 0;                              /*typography setting*/
}

main {
  flex-grow: 1;                             /*flexbox main items even layout*/
}

body p {
    font-family: Lora, sans-serif;
    color: whitesmoke;                    /*paragraph typography*/
}

h1, h2, p, i {
    margin: 20px;                           /*space to breath for text*/
}
                 
.accent-color {
    color: #ff581a;                              /*accent-color added to string text*/
}

h1,
h2  {
    font-family: Source Sans Pro, sans-serif;
    text-transform: uppercase;
    letter-spacing: 14px;
    color: whitesmoke;                           /*headings typography*/
}

/* Navigation bar was borrowed from https://codepen.io/biblos/pen/babJvO The borrowed version was resdesigned according to project needs*/

.header-fixed {
    top: 0;
    z-index: 1;
    width: 100%;                                    /*parent container positioning against descendant containers*/
    background-color: rgba(21, 21, 21, 1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;                            /*flexbox layout for container holding menu links*/
    color: #fff;
    line-height: 60px;                              /*typography*/
}

.navbar .logo {
    flex: 3;                                        /*flexbox item logo positioning against text menu links*/
}

.navbar nav {
    flex: 8;                                        /*flexbox text menu items positioning against logo*/                                     
}

.navbar label {
  user-select: none;
  cursor: pointer;
  padding: 1.8rem 1.3rem;
  position: relative;
  z-index: 3;
}

.navbar label i {
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 1.1px;
  font-style: normal;
  font-weight: normal;
}
.navbar label i:before,
.navbar label i:after {
  content: '';
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.navbar label i,
.navbar label i:before,
.navbar label i:after {
  display: block;
  background: #eee;  
}
.navbar label i:before {
  top: 0.3rem;
}
.navbar label i:after {
  top: -0.3rem;
}

.navbar #navbar-toggle {
  display: none;
}

.header #navbar-toggle:checked ~ .menu {
  visibility: visible;
  opacity: 0.99;
}
.header #navbar-toggle:checked ~ label {
  background: #212121;
  border-radius: 50%;    
}
.header #navbar-toggle:checked ~ label i {
  background: transparent;
}
.header #navbar-toggle:checked ~ label i:before {
  transform: rotate(-45deg);
}
.header #navbar-toggle:checked ~ label i:after {
  transform: rotate(45deg);
}
.header #navbar-toggle:checked ~ label:not(.steps) i:before,
.header #navbar-toggle:checked ~ label:not(.steps) i:after {
  top: 0;
}

@media (max-width: 768px) {
    .navbar nav {
      visibility: hidden;
      opacity: 0;
      z-index: 2;
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      transition: all 0.3s ease-out;
      display: table;
      background: #ddd;
    }
    .navbar nav ul {
      margin: 0;
      padding: 1.25rem 0;
      display: table-cell;
      vertical-align: middle;
    }
    .navbar nav li {
      display: block;
      text-align: center;
      padding: 1.25rem 0;
      text-align: center;
      font-size: 1.9rem;
      min-height: 3.1rem;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease-out;          /*toggle menu items typography and layout*/
    }
    .navbar nav li:hover {
      background: #212121;                  
    }
    .navbar nav li:hover a {
      color: #fff;
      transition: all 0.3s ease-out;
    }
    .navbar nav li a {
      color: #212121;
    }
}

@media (min-width: 768px) {
    .navbar nav ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-around;
      text-align: center;
      list-style: none;
    }
    .navbar nav li {
      flex: 1;
    }
    .navbar nav li a {
      display: block;
      padding: 0 0.5rem;
      font-size: 1.3rem;
      text-transform: uppercase;
      line-height: 3.75rem;
      color: #fff;
      text-decoration: none;
    }
    .navbar nav li.active {
      background: #555;  
    }
    .navbar nav li:hover {
      background: #333;
    }
    .navbar label {
      display: none;
    }
}

.menu a {
    text-decoration: none;                    /*menu link styling*/
}

.menu a:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    color: orange;                          /*menu link mouse over styling*/
}

.active {
    border-bottom: 2px solid orange;      
    font-size: 125%;                            /*selected link style*/
}

#menu-logo {
    height: 85px;
    width: 85px;
    border-radius: 100%;
    border: 1px solid #383838;
    margin: 20px 0 0 30px;
    padding: 5px;                             /*logo shape styling*/
}

#menu-logo:hover {
   -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); 
    border-color: orange;                 
    box-shadow: inset 0 0 0 2px orange;    /*mouse over zoom logo style */
}

/*Hero image*/
.hero-outer {
    height: 600px;
    width: 100%;
    overflow:visible;                         /*outer section layout*/
}

#hero-image {
    height: 600px;
    width: 100vw;
    background: url('../images/hero-image-resized.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  }               /*hero image layout*
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;          /*animation effect*
}

@keyframes hero-zoom {                      /*at-rule*
    from {
        transform: scale(.9);
    }
    to {
        transform: scale(1);              /*zoom intensity*
    }
}


/* Footer */

footer {
  bottom: 0;                                        /*footer main container fixed positioning to bottom*/
 }

.footer-container {
  background-color: rgba(21, 21, 21, 1);
  width: 100vw;
  padding: 2rem 1.8rem;                             /*footer styling, sizing and alignment*/
 }
  
.footer-container .footer-left,
.footer-container .footer-center,
.footer-container .footer-right { 
  display: inline-block;
  vertical-align: top;                              /*footer child containers positioning and alignment*/
}
  
.footer-container .footer-left {
  width: 40%;                                       /*left child container sizing*/
}

.footer-container h3 {
  color:  whitesmoke;
  font: normal 2.3rem 'Lora';
  margin: 0;                                        /*heading typography*/
}
  
.footer-container h3 span{
  color: orange;                                  /*accent color in headings*/               
}
  
.footer-container .footer-center {
  width: 35%;                                       /*center child container sizing*/
}
  
.footer-container .footer-center i {
  color: orange;
  font-size: 1.5rem;                                /*fontawesome icons styling*/
}
  
.footer-container .footer-center p {
  display: inline-block;
  color: whitesmoke;                              /*child center container paragraph layout and styling*/
}
  
.footer-container .footer-center p a {
  color: white;
  text-decoration: none;                            /*email link styling*/
}

.footer-container .footer-center p a:hover {
  color: orange;
  font-size: 1.2rem;                                /*email link mouse over styling*/
}
  
.footer-container .footer-right {
  width: 20%;                                       /*right child container sizing*/
}
  
.footer-container .footer-icons {
  margin-top: 1.6rem;                               /*social icons positioning*/
}
  
.footer-container .footer-icons a {
  font-size: 1.3rem;
  color: orangered;                               /*social link icons typography*/                     
}

.footer-container .footer-icons a:hover {
  font-size: 1.5rem;
  color: orange;                                  /*social link icons mouser over styling*/                     
}
  
/*Responsive footer*/

@media (max-width: 880px) {

  .footer-container .footer-left,
  .footer-container .footer-center,
  .footer-container .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 2.5rem;
    text-align: center;
  }                                                 /*child containers responsiveness in smartphones*/
}

/*Contact page*/

.contact-container {
  width: 100%;                                     /*parent container sizing*/
}

.contact-container .contact-content {
  display: flex;
  align-items: center;
  justify-content: space-between;                  /*child containers alignment*/             
}

.contact-container .contact-content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  position: relative;                              /*left child container sizing and alignment*/
}

.contact-content .left-side::before {
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -1rem;
  top: 50%;
  transform: translateY(-50%);
  background: grey;                               /*divider styling and layout*/
}

.contact-content .left-side .details { 
  margin: 1rem;
  text-align: center;
}                                                   /*left child container contact details layout*/

.contact-content .left-side .details i {
  font-size: 1.9rem;
  color: #212121;
  margin-bottom: 0.6rem;                            /*fontawesome typography*/                 
}

.contact-content .left-side .details .topic {
  font-size: 1.2rem;
  font-weight: 500;   
  color: orangered;                               /*left child container topic typography*/
}

.contact-content .left-side .details .text-one,
.contact-content .left-side .details .text-two  {
  font-size: 1rem;
  color: #212121;                                 /*left child container text typography*/
}

.contact-container .contact-content .right-side {
  width: 75%;
  margin-left: 4.7rem;                               /*right child container sizing and alignment*/
}

.contact-content .right-side .topic-text {
  font-size: 1.4rem;
  font-weight: 600;
  color: orangered;  
  text-align: center;                                /*right child container topic typography*/
}

.right-side p {
  color: #212121;
}

.right-side .input-box {
  height: 3rem;
  width: 95%;
  margin: 0.75rem 0;                                 /*input box fields sizing and alignement*/
}

.right-side .input-box input {
  height: 95%;
  width: 95%;
  font-size: 1rem;
  background: #F0F1F8;
  border-radius: 0.3rem;
  padding: 0 0.9rem;                                /*input fileds styling*/                  
}

.right-side .message-box {
  min-height: 7.5rem;                               /*input message box sizing*/
}

.right-side .button {
  display: inline-block;
  margin-top: 0.75rem;                              /*input submit button sizing and positioning*/
}

.right-side .button [type="submit"] {
  color: #fff;
  font-size: 1.1rem;
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  background: #333;                               /*input submit button styling*/

}

.button [type="submit"]:hover {
  background: orangered;                          /*input submit button mouse over styling*/
}

/*Responsive contact*/

@media (max-width: 950px) {
  .contact-container{
    width: 90%;
    padding: 1.9rem 2.5rem 2.5rem 2.1rem;
  }
  .contact-container .contact-content .right-side {
   width: 75%;
   margin-left: 3.4rem;
  }
}

@media (max-width: 820px) {
  .contact-container {
    margin: 2.5rem 0;
    height: 100%;
  }
  .contact-container .contact-content {
    flex-direction: column-reverse;
  }
 .contact-container .contact-content .left-side {
   width: 100%;
   flex-direction: row;
   margin-top: 2.5rem;
   justify-content: center;
   flex-wrap: wrap;
 }
 .contact-container .contact-content .left-side::before {
   display: none;
 }
 .contact-container .contact-content .right-side {
   width: 100%;
   margin-left: 0;
 }
}

/*Post-submit thank you page*/

.post-submit {
  display: flex;
}

.thanku-box h1 {
  padding: 2rem 2rem;
  color: orangered;
}





  
	
	
	
